

body {
    color: #00000;
    background-color: #F6F6F6;
    font-family: "Helvetica Neue", sans-serif;
    margin: 50px;
}

#isPrompt {
	color: cyan;
}

#isBiased {
	color: red;
}

#isUnBiased {
	color: black;
}